
.screenreader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

math * {
    overflow: visible;
}

math:not(last-child) {
    padding-bottom: 0.5em;
}

mtext {
    padding-right: 1em;
}

mtext:not(:first-child) {
    padding-left: 1em;
}

msub > :last-child {
    padding-top: 0.45em;
}

@supports (-moz-appearance: none) {
    msub > :last-child {
        font-size: 0.75rem;
        transform: translateY(0.3em);
    }
}

msup > :last-child {
    font-size: 0.8rem;
}

:root {
    font-size: 1em;
    line-height: 0;
}

.full {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;

    box-sizing: border-box;

    font-family: var(--main-font);

    --panel-margin: 0.5rem;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-background);
    color: var(--main-solid);
    line-height: 1.5rem;
}

.target {
    height: 100%;
    width: 100%;
}

pre {
    font-family: var(--code-font);
}

button {
    border: none;
    border-radius: 0.5em;
    height: 1.5em;
    background-color: var(--main-solid);
    color: var(--main-solid-content);
    padding-left: 1em;
    padding-right: 1em;
}

p {
    color: var(--main-solid);
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 65rem;
}

a {
    color: var(--main-solid);
}

a:visited {
    color: var(--main-visited);
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--main-solid);
    background-color: transparent;
    color: var(--main-solid);
}

input:focus {
    outline: none;
    background-color: var(--main-faded);
}

.nothing_old {
    position: absolute;
    font-family: var(--code-font);
    color: var(--main-solid);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 4s infinite linear;
    animation-delay: 2.5s;
}

.theme-toggle {
    position: absolute;
    bottom: 2em;
    right: 2em;
    border: none;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background-color: var(--main-solid);
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@supports (scrollbar-width: auto) {
    * {
        scrollbar-color: var(--main-solid) var(--main-background);
        scrollbar-width: thin;
    }
}

@supports selector(::-webkit-scrollbar) {
    *::-webkit-scrollbar-thumb {
        background: var(--main-solid);
    }
    *::-webkit-scrollbar-track {
        background: var(--main-background);
    }
    *::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy);
    }
}

