
/* - - - - - - - - - - - -

     General Resets

 - - - - - - - - - - - - */

:root {
    font-size: 1em;
    line-height: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;

    box-sizing: border-box;

    font-family: var(--main-font);
    font-size: inherit;

    --panel-margin: 0.5rem;
}

sup, sub {
    font-size: revert;
}

/* - - - - - - - - - - - -

  Default Element Styles

 - - - - - - - - - - - - */

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-background);
    color: var(--main-solid);
    line-height: 1.5rem;
    font-size: var(--font-base);
}

article {
    padding-left: 1em;
    padding-right: 1em;

    height: 100%;
    overflow-y: scroll;
}

article section {
    margin-top: 2em;
    overflow: visible;
}

h1 {
    display: block;
    margin: auto;
    width: fit-content;

    font-size: 1.5em;
    margin-top: 1em;
    overflow: visible;
    font-weight: 800;
}

h2 {
    text-decoration: underline;
    font-weight: 800;
    text-decoration-color: var(--main-midtone);
    scroll-margin-top: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 0.25em;
}

hgroup {
    overflow: visible;
}

hgroup.main-title p {
    display: block;
    margin: auto;
    width: fit-content;

    padding-top: 0.125em;
    padding-bottom: 0.125em;
    font-size: 0.7em;
}

hgroup h2, hgroup p {
    display: inline;
}

hgroup p {
    padding-left: 1em;
    font-size: 0.8em;
}

nav#contents {
    scroll-margin-top: calc(min(25em, 25vh));
    width: fit-content;
    padding-right: 1em;
}

nav#contents ol {
    max-width: var(--content-width);
    list-style: none;
    counter-reset: roman;
}

nav#contents ol li {
    margin-left: 5ch;
    overflow: visible;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

nav#contents ol li:not(.numberless) {
    counter-increment: roman;
}

nav#contents ol li:not(.numberless)::marker {
    content: counter(roman, upper-roman) ". ";
}

nav#contents ol li.numberless::marker {
    content: "❖ ";
}

details.footnotes aside {
    border-left: 3px double var(--main-faded);
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 90%;
    margin-top: 1em;

    scroll-margin-top: calc(min(25em, 25vh));
}

details.footnotes aside p {
    margin: 0;
}

span.noted {
    scroll-margin-top: calc(min(25em, 25vh));
}

pre {
    font-family: var(--code-font);
}

code {
    padding-top: 0.75em;
    border-left: 3px solid var(--main-faded);
    display: block;
    overflow-x: auto;
    width: 100%;
    padding-left: 1em;
    font-family: var(--code-font);
    font-size: 1rem;
}

details summary {
    user-select: none;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    width: fit-content;
}

details[open] summary {
    border-bottom: 1px solid var(--main-faded);
}

button {
    background-color: var(--main-background);
    color: var(--main-solid);
    font-family: var(--main-font);
    border: 1px solid var(--main-faded);
    border-radius: 2px;
    padding: 0.1rem 0.5rem;
    min-height: 1rem;
    line-height: 1rem;
    cursor: pointer;
}

button.inverted {
    background-color: var(--main-solid);
    color: var(--main-solid-content);
    font-family: var(--main-font);
    border-radius: 2px;
    padding: 0.1rem 0.5rem;
    min-height: 1rem;
    line-height: 1rem;
    cursor: pointer;
}

p {
    color: var(--main-solid);
    line-height: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: var(--content-width);
}

a {
    color: var(--main-solid);
    text-decoration-color: var(--main-visited);
}

a:visited {
    color: var(--main-visited);
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--main-solid);
    background-color: transparent;
    color: var(--main-solid);
}

input:focus {
    outline: none;
    background-color: var(--main-faded);
}

select {
    border-bottom: 1px solid var(--main-faded);
    border-radius: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--main-solid);
    cursor: pointer;
}

select:focus {
    border-radius: 0;
    background-color: var(--main-faded);
    border-bottom: 1px solid var(--main-solid);
    outline: none;
}

option {
    background-color: var(--main-background);
}

label {
    cursor: text;
}

@supports (scrollbar-width: auto) {
    * {
        scrollbar-color: var(--main-solid) var(--main-background);
        scrollbar-width: thin;
    }
}

@supports selector(::-webkit-scrollbar) {
    *::-webkit-scrollbar-thumb {
        background: var(--main-solid);
    }
    *::-webkit-scrollbar-track {
        background: var(--main-background);
    }
    *::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy);
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


:target {
    animation: target-flash 0.5s ease-out;
    background-color: var(--main-ghostly);
}

@keyframes target-flash {
    0%   { background-color: transparent; }
    50%  { background-color: var(--main-faded); }
    100% { background-color: var(--main-ghostly); }
}

/* - - - - - - - - - - - -

        MathML

 - - - - - - - - - - - - */

math {
    font-size: 1.3rem;
    overflow: visible;
    math-style: normal;
}

math * {
    overflow: visible;
    font-size: math;
    font-family: var(--math-font);
    math-style: normal;
}

math :not(mtext) {
}

mtext {
    padding-right: 1em;
    font-family: var(--math-font);
}

mi {
    font-family: var(--math-font);
}

mn {
    font-family: var(--math-font);
}

munderover {
    font-size: 100%;
}

munderover > :last-child {
    margin-bottom: 0.15em;
}

munderover > :not(:last-child):not(:first-child) {
    font-size: 70%;
}

munderover > :first-child {
    font-size: 110%;
}

mtext:not(:first-child) {
    padding-left: 1em;
}

msub > :last-child {
    padding-top: 0.45em;
}

@supports (-moz-appearance: none) {
    msub > :last-child {
        /*
        font-size: 0.75rem;
        transform: translateY(0.3em);
        */
        font-size: 0.8rem;
    }
}

msup > :last-child {
    font-size: 0.8rem;
}

/* - - - - - - - - - - - -

     General Classes

 - - - - - - - - - - - - */

.full {
    width: 100%;
    height: 100%;
}

.target {
    height: 100%;
    width: 100%;
}

.hell {
    position: absolute;
    top: -99999px;
    left: -99999px;
    overflow: hidden;
}

.screenreader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.center {
    display: block;
    margin: auto;
    width: fit-content;
}

aside.info-box {
    margin: auto;
    margin-top: 1em;
    border: 1px solid var(--main-solid);
    background-color: var(--main-faded);
    padding-left: 1em;
    padding-right: 1em;
    max-width: var(--content-width);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

aside.info-box::before {
    content: "ⓘ";
    padding-right: 0.5em;
}

