
:root {
    font-size: 1em;
    line-height: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: var(--main-font);
}

body {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: var(--main-background);
}

.target {
    height: 100%;
    width: 100%;
}

pre {
    font-family: var(--code-font);
}

button {
    border: none;
    border-radius: 0.5em;
    height: 1.5em;
    background-color: var(--main-solid);
    color: var(--main-solid-content);
    padding-left: 1em;
    padding-right: 1em;
}

p {
    color: var(--main-solid);
    line-height: 1.5em;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--main-solid);
    background-color: transparent;
    color: var(--main-solid);
}

input:focus {
    outline: none;
    background-color: var(--main-faded);
}

.nothing_old {
    position: absolute;
    font-family: var(--code-font);
    color: var(--main-solid);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 4s infinite linear;
    animation-delay: 2.5s;
}

.theme-toggle {
    position: absolute;
    bottom: 2em;
    right: 2em;
    border: none;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background-color: var(--main-solid);
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

